<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="styles/main.css"/>

   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cardo"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">  
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.11/css/all.css" integrity="sha384-p2jx59pefphTFIpeqCcISO9MdVfIm4pNnsL08A6v5vaQc4owkQqxMV8kg4Yvhaw/" crossorigin="anonymous">

</head>

  <body>
<div class="home container">
       <main class="overflow--auto">
	<ul class="section--social">

	<li class="socialWrapper copyrightFooter"><h4>Copyright &copy; 2018 Sohan Akolkar | Powered by </h4></li>	

        <!--Links to relevant professional social media & resume -->
        <!-- See: http://fontawesome.io/icons/#brand for more -->

        <!-- Link to Linked In profile -->
        <li class="socialWrapper">

	
	   	
          <a class="color--skyBlue social"
             title="LinkedIn Profile"
             target="_blank"
             href="https://www.linkedin.com/in/akolkarsohan">
            <!--<i class="fa fa-linkedin"></i>-->
	    <!--<i class="fas fa-address-card"></i>-->
	    <i class="fab fa-linkedin-in"></i>
          </a>
        </li>

        <!-- Link to GitHub profile -->
        <li class="socialWrapper color--skyBlue">



          <a class="social color--skyBlue"
             title="GitHub Profile"
             target="_blank"
             href="https://github.com/akolkarsohan">
            <!--<i class="fa fa-github"></i>-->
	   <!-- <i class="fas fa-code-branch"></i>-->
           <i class="fab fa-github"></i>
	</a>
        </li>

        <!-- Link to resume, probably a .pdf -->
        <li class="socialWrapper">
          <a class="social color--skyBlue"
             title="Resume"
             href="Sohan_Akolkar_AWS_Resume.pdf">
             <i class="fas fa-certificate"></i>
	  </a>
        </li>
     	
	 <!-- Link to CloudCraft Architecture Diagram -->
       <li class="socialWrapper">
          <a class="social color--skyBlue"
             title="Site Architecture Diagram"
             href="portfolio-architecture-diagram.html">
            <!--<i class="fa fa-file-text"></i>-->
            <i class="far fa-object-group"></i>
	  </a>
        </li>
</div>
  </body>
</html>
