{% include 'layout.html' %}
<div class="portfolio">

  <section class="background--skyBlue section">
      <h2 class="color--cloud margin--none section__text--centered">
        Portfolio
      </h2>
    </section>

  <!-- FIRST PROJECT SECTION ROW -->
<div class="home container">
   <section class="section section--alignCentered section--description">
      <div class="section__exampleWrapper">
         <a href="http://cloudblog.akolkarsohan.com/blog/">
        <div class="section__example">
        <img alt="example screenshot of a project involving code"
               class="section__exampleImage"
               src="{{url_for('static',filename='images/example1.png')}}"/>
          <dl class="color--cloud">
            <dt class="section__exampleTitle section__text--centered">
              Cloud Blog
            </dt>
            <dd></dd>
          </dl>
        </div></a>
     </div>

      <div class="section__exampleWrapper">
        <a href="{{url_for('serverless')}}">
        <div class="section__example">
          <img alt="example screenshot of a project involving chemistry"
               class="section__exampleImage"
               src="{{url_for('static',filename='images/aws-lambda-logo.png')}}"/>
          <!-- “Chemistry” by Surian Soosay is licensed under CC BY 2.0
               https://www.flickr.com/photos/ssoosay/4097410999 -->
          <dl class="color--cloud">
            <dt class="section__exampleTitle section__text--centered ">
              Serverless
            </dt>
            <dd></dd>
          </dl>
        </div></a>
      </div>

     </div>
  </section>

 <!-- SECOND PROJECT SECTION ROW -->  
<div class="home container">   
  <section class="section section--alignCentered section--description">
        <div class="section__exampleWrapper">
	<a href="{{url_for('devops')}}">
        <div class="section__example">
          <img alt="example screenshot of a project involving cats"
               class="section__exampleImage"
               src="{{url_for('static',filename='images/devops-2.png')}}"/>
          <!-- “Bengal cat” by roberto shabs is licensed under CC BY 2.0
               https://www.flickr.com/photos/37287295@N00/2540855181 -->
          <dl class="color--cloud">
            <dt class="section__exampleTitle section__text--centered">
              DevOps
            </dt>
            <dd></dd>
          </dl>
        </div></a>
 
	</div>

      <div class="section__exampleWrapper">
        <a href="{{url_for('linux')}}">
	<div class="section__example">
          <img alt="example screenshot of a project involving chemistry"
               class="section__exampleImage"
               src="{{url_for('static',filename='images/linux-logo.png')}}"/>
          <!-- “Chemistry” by Surian Soosay is licensed under CC BY 2.0
               https://www.flickr.com/photos/ssoosay/4097410999 -->
          <dl class="color--cloud">
            <dt class="section__exampleTitle section__text--centered ">
              LINUX
            </dt>
            <dd></dd>
          </dl>
        </div></a>
      </div>

      </div>
    </section>
</div>

</div> <!-- End of main page div -->   
{% include 'footer.html' %}
